{% extends 'base.html.twig' %}

{% block title %}Kclusters index{% endblock %}

{#{% block stylesheets %}#}
{#    <style type="text/css">#}
{#        .nNote{ -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; }#}
{#        .nSuccess { background: #effeb9 no-repeat 15px center; border: 1px solid #c1d779; color: #3C5A01; }#}
{#    </style>#}
{#{% endblock %}#}


{% block body %}

    {% block javascripts %}
        <script>
            $(".hideit").click(function() {
                $(this).fadeTo(200, 0.00, function(){ //fade
                    $(this).slideUp(300, function() { //slide up
                        $(this).remove(); //then remove from the DOM
                    });
                })
            });
        </script>
    {% endblock %}
    <h1>Clustering</h1>

    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="nSuccess nNote hideit">
            <p>
                <strong>Warning: </strong>
                {{ msg }}
            </p>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="nSuccess nNote hideit">
            <p>
                <strong>Success: </strong>
                {{ msg }}
            </p>
        </div>
    {% endfor %}
    <div class="container-sm" style="margin: 30px">
        {{ form_start(form) }}
{#        <form action="{{ path('clustering') }}" method="post">#}
{#            <div class="form-group col-sm-4">#}
{#                {{ form_row(form.clusterCount) }}#}
{#            </div>#}
{#            <div class="form-group col-sm-4">#}
{#                {{ form_row(form.repeatTime) }}#}
{#            </div>#}
{#            <div class="form-group col-sm-4">#}
{#                <div class="form-check">#}
{#                    {{ form_row(form.dimensions) }}#}
{#                </div>#}
{#            </div>#}
{#        </form>#}
        {{ form_end(form) }}
    </div>


{% endblock %}
